.layout {
  border: 1px solid;
  transition: all 200ms ease-in;
  @media (min-width: 768px) {
    width: 100px;
    height: 100px;
  }
  &:hover {
    box-shadow: 0 0 2px 2px;
    transform: scale(1.1);
  }
}
.calbadge {
  max-width: 75%;
  text-overflow: ellipsis;
  overflow: hidden;
  &:hover {
    filter: brightness(150%);
  }
}

.eventIndicator {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  height: 0.2rem;
  width: 0.2rem;
  border-radius: 0.2rem;
  background-color: $primary;
  box-shadow: 0 0 0.1rem 0.1rem $cyan;
}

.nationalDay {
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
  height: 0.5rem;
  width: 0.7rem;
  background-image: url("../images/flag.png");
  background-size: cover;
  background-repeat: no-repeat;
}
