$themes: (
  light: (
    color-primary: #fff4e3,
    color-secondary: #ffcdab,
    color-border: #ffa45c,
    color-selected: #5d5d5a,
    color-success: $success,
    color-disabled: $secondary,
  ),
  dark: (
    color-primary: #2f2519,
    color-secondary: #212121,
    color-border: #fa7d09,
    color-selected: #ff4301,
    color-success: $danger,
    color-disabled: $primary,
  ),
);

@mixin theme-aware($key, $color) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
      #{$key}: map-get(map-get($themes, $theme-name), $color);
    }
  }
}

.redDay {
  @include theme-aware("color", "color-redDay");
}

/* .layout {
  @include theme-aware("background", "color-secondary");
  @include theme-aware("border-color", "color-border");
  @include theme-aware("color", "color-selected");
} */

.theme {
  border: none;
  border-bottom: 1px solid;
  @include theme-aware("background", "color-primary");
  @include theme-aware("color", "color-selected");
  @include theme-aware("border-color", "color-border");
}
.theme .active {
  border: 1px solid;
  @include theme-aware("background", "color-secondary");
  @include theme-aware("color", "color-selected");
  @include theme-aware("border-color", "color-border");
}

div.dayBar {
  border: 1px solid;
  @include theme-aware("background", "color-secondary");
  @include theme-aware("border-color", "color-border");
}
div.dateBar {
  @include theme-aware("background", "color-primary");
}

body {
  @include theme-aware("background", "color-primary");
  @include theme-aware("color", "color-selected");
}

svg.plusButtonEnable {
  @include theme-aware("color", "color-success");
}

svg.plusButtonDisable {
  @include theme-aware("color", "color-disable");
}

.layout {
  border: 1px solid;
  @media (min-width: 768px) {
    width: 100px;
    height: 100px;
  }
  &:hover {
    box-shadow: 0 0 2px 2px;
    transform: scale(1.1);
  }
}
.calbadge {
  max-width: 75%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.eventIndicator {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  height: 0.2rem;
  width: 0.2rem;
  border-radius: 0.2rem;
  background-color: $primary;
  box-shadow: 0 0 0.1rem 0.1rem $cyan;
}
