@mixin darkTheme() {
  .dark-theme & {
    @content;
  }
}

@mixin lightTheme() {
  .light-theme & {
    @content;
  }
}

@mixin thirdTheme() {
  .third-theme & {
    @content;
  }
}

//example component
.themed-content {
  //common style amongst all themes

  //dark theme specific styling
  @include darkTheme {
    $primary: #2f2519;
    $secondary: #212121;
    $tertiary: #fa7d09;
    $quaternary: #ff4301;
    background-color: $primary;
    color: $quaternary;
    .btn-primary {
      background-color: $tertiary;
      color: $secondary;
    }
    .fab {
      box-shadow: 1px 1px 2px 2px $secondary;
    }
    .calbadge {
      background-color: $primary;
      color: $quaternary;
    }
    a {
      color: $tertiary;
    }
    .layout {
      background-color: $secondary;
      color: $quaternary;
    }
    .tabsTheme {
      border: none;
      border-bottom: 1px solid $tertiary;
      background-color: $primary;
      color: $quaternary;
    }
    .tabsTheme .active {
      border: 1px solid $tertiary;
      background-color: $secondary;
      color: $quaternary;
    }
    .dayBar {
      border: 1px solid $tertiary;
      background-color: $secondary;
    }
    .dateBar {
      background-color: $primary;
    }
    .redDay {
      color: $danger;
    }
  }

  //light theme specific styling
  @include lightTheme {
    $primary: #fff4e3;
    $secondary: #ffcdab;
    $tertiary: #ffa45c;
    $quaternary: #5d5d5a;
    background-color: $primary;
    color: $quaternary;
    .btn-primary {
      background-color: $tertiary;
      color: $secondary;
    }
    .fab {
      box-shadow: 1px 1px 2px 2px $secondary;
    }
    .calbadge {
      background-color: $primary;
      color: $quaternary;
    }
    a {
      color: $tertiary;
    }
    .layout {
      background-color: $secondary;
      color: $quaternary;
    }
    .tabsTheme {
      border: none;
      border-bottom: 1px solid $tertiary;
      background-color: $primary;
      color: $quaternary;
    }
    .tabsTheme .active {
      border: none;
      border-bottom: 1px solid $tertiary;
      background-color: $secondary;
      color: $quaternary;
    }
    .dayBar {
      border: 1px solid $tertiary;
      background-color: $secondary;
    }
    .dateBar {
      background-color: $primary;
    }
    .redDay {
      color: $danger;
    }
  }

  //light theme specific styling
  @include thirdTheme {
    $primary: #155263;
    $secondary: #ff6f3c;
    $tertiary: #ff9a3c;
    $quaternary: #ffc93c;
    background-color: $primary;
    color: $quaternary;
    .btn-primary {
      background-color: $tertiary;
      color: $secondary;
    }
    .fab {
      box-shadow: 1px 1px 2px 2px $secondary;
    }
    .calbadge {
      background-color: $primary;
      color: $quaternary;
    }
    a {
      color: $tertiary;
    }
    .layout {
      background-color: $secondary;
      color: $quaternary;
    }
    .tabsTheme {
      border: none;
      border-bottom: 1px solid $tertiary;
      background-color: $primary;
      color: $quaternary;
    }
    .tabsTheme .active {
      border: none;
      border-bottom: 1px solid $tertiary;
      background-color: $secondary;
      color: $quaternary;
    }
    .dayBar {
      border: 1px solid $tertiary;
      background-color: $secondary;
    }
    .dateBar {
      background-color: $primary;
    }
    .redDay {
      color: $danger;
    }
  }
}
